<img src="GEOS_Logo.png" width="700" />

# Step 1 : <font color=blue>"download_files.ipynb"</font>
#### Aug 12, 2021  <font color=red>(still working)</font> 
##### Jeonghyeop Kim (jeonghyeop.kim@gmail.com)



> list_full.dat (904 stations) and list_extra.dat (extra 3 stations) \
> total is 907 \
> At some point, a code that downloads (a)a station ID list and (b)a list of their coordinates will be ready \
> And then it will count how many stations, this GPS2FNL algorithm will process and pass this info to the later codes. \
> metadata is needed

### **`GPS data processed by the NGL is available at:`**  [here](http://geodesy.unr.edu)

> On the right side of the website, find <font color=blue>"Downloadable Lists of GPS Data Holdings:</font>" 

> This algorithm uses data from "stations with 24 hour sample rate solutions, final orbits, 2 week latency."

In [39]:
lon_min=235.437
lon_max=246.988
lat_min=31.3131
lat_max=42.9817

In [2]:
#import modules
import numpy as np
import pandas as pd
import urllib

1.  Read the station list
> url_lists="http://geodesy.unr.edu/NGLStationPages/DataHoldings.txt"

2. Download metadate (discontinuous steps)
> url_metadata="http://geodesy.unr.edu/NGLStationPages/steps.txt"

In [3]:
# A list of GPS stations 
url_list="http://geodesy.unr.edu/NGLStationPages/DataHoldings.txt" # URL
list_file="list_test.txt" # file name


# metadata for steps
url_metadata="http://geodesy.unr.edu/NGLStationPages/steps.txt" # URL
metadata_file="steps_test.txt" # file name

In [4]:
# Download the list of GPS stations (final orbits) and metadata 
urllib.request.urlretrieve(url_list, list_file)
urllib.request.urlretrieve(url_metadata, metadata_file)
print("Downloaded a GPS list and metadata for steps")

Downloaded a GPS list and metadata for steps

In [40]:
# Read the station list.
df_original_list=pd.read_csv(list_file ,header=None, sep=r'(?:,|\s+)', 
                comment='#', engine='python',
                names=['Sta','lat','lon','3','4','5','6','7','8','9','10','11','12','13'])


# Here the first 3 columns will be used.
df_three_cols=df_original_list.loc[1:len(df_original_list),['Sta','lat','lon']] #first three columns
df_three_cols=df_three_cols.reset_index(drop=True)

# str to float
df_three_cols['lon'] = df_three_cols['lon'].astype(float)
df_three_cols['lat'] = df_three_cols['lat'].astype(float)


# Select stations within the region of interest.
# > lon_min,lon_max,lat_min,lat_max must be defined.

df_interest=df_three_cols.loc[(df_three_cols['lat'] >= lat_min)\
                            & (df_three_cols['lat'] <= lat_max)\
                            & (df_three_cols['lon'] >= lon_min)\
                            & (df_three_cols['lon'] <= lon_max)]

# df_interest=df_interest.reset_index(drop=True)

In [44]:
df_interest

        Sta      lat       lon
47     34A1  41.8387  240.3460
48     34A2  41.8531  240.3926
49     34A3  41.8507  240.4229
50     34A4  41.8666  240.5052
51     34NO  41.9291  240.2914
...     ...      ...       ...
19238  ZLA1  34.6035  241.9161
19251  ZOA1  37.5431  237.9841
19252  ZOA2  37.5430  237.9841
19256  ZOLE  39.4217  240.2466
19269  ZUMA  37.5582  242.5098

[1851 rows x 3 columns]

In [45]:
#?? too many stations.
# look for  network information
# shouldn't I use MAGNET?