# Step 4: <font color=blue>"time_vector_generator.ipynb"</font>
#### July 27, 2021  <font color=red>(Still working)</font> 
##### Jeonghyeop Kim (jeonghyeop.kim@gmail.com)

> output files: **`time_vector.dat` & `days_per_month.dat`**

1. This code makes a consecutive time vector from 2006/1/1 \ to the last day of the previous month day from today (`time_vector.dat`)
2. This code also generates `days_per_month.dat`,in which  a number for each row indicates the number of days for all months in the time period of our interest

In [1]:
# 1. import modules
import numpy as np
import datetime as datetime
import pandas as pd
#from calendar import monthrange
#pd.__version__

In [3]:
print("The initial date is January 1, 2006.")
print("What is your last date of your analysis (YYYYMMDD format) : ")
#write a statement here
#If statement Y-> specific final date
#             N-> the last date of the previous month from today is the final date
last_date=input()

The initial date is January 1, 2006.
What is your last date of your analysis (YYYYMMDD format) :

 20201231

In [4]:
date_final = pd.to_datetime(last_date, format='%Y%m%d')
date_initial = pd.to_datetime(20060101, format='%Y%m%d')
today=datetime.datetime.today()
date_today = pd.to_datetime(today).strftime('%Y%m')


#if m = 01 y=y-1
#else m = m-1

In [5]:
time_vector_list=pd.date_range(start=date_initial,end=date_final).strftime('%Y%m%d').tolist()

In [6]:
with open('time_vector.dat', 'w') as filehandle:
    for listitem in time_vector_list:
        filehandle.write('%s\n' % listitem)

In [7]:
df_year=np.array(pd.date_range(start=date_initial,end=date_final).strftime('%Y'))
df_month=np.array(pd.date_range(start=date_initial,end=date_final).strftime('%m'))
df_year_month = pd.DataFrame(index = range(len(df_year))) # A blank dataFrame


df_year_month['year']=df_year
df_year_month['month']=df_month

In [8]:
df_year_month

      year month
0     2006    01
1     2006    01
2     2006    01
3     2006    01
4     2006    01
...    ...   ...
5474  2020    12
5475  2020    12
5476  2020    12
5477  2020    12
5478  2020    12

[5479 rows x 2 columns]

In [9]:
howManyDatesPerMonths = df_year_month.groupby(['year','month']).size()

In [10]:
howManyDatesPerMonths.to_csv('days_per_month.dat',header=None, index=None,sep=' ',float_format='%g')

In [11]:
howManyDatesPerMonths

year  month
2006  01       31
      02       28
      03       31
      04       30
      05       31
               ..
2020  08       31
      09       30
      10       31
      11       30
      12       31
Length: 180, dtype: int64