<img src="Figs/GEOS_logo.pdf" width="500"/>

# <font color=blue>"make_fake_GPS_raw_for_BC.ipynb"</font>
#### Nov 16, 2021  <font color=red>(v. testing)</font> 
##### Jeonghyeop Kim (jeonghyeop.kim@gmail.com)

> output file: **`GPS_raw_fake_BC.dat`** 

0. This code is a part of the joint inversion project (project4: joint inversion of GNSS and InSAR)
1. This code generates `GPS_raw_fake_BC.dat` file that will be used to obtain latlong_gps.dat
2. The latlong_gps.dat will be copied as output.dat 
3. Sparse code will generate UCERF ref. velocity at the boundary as well as at the InSAR reference point. 
4. A velocity vector at the InSAR reference can be removed. Thus the B.C. data is in the same reference point as the InSAR data.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Define reference point
ref_file="ref_GNSS.dat"
df_ref = pd.read_csv(ref_file, header=None, sep = ' ')
ref_lon = df_ref.iloc[0,0]
ref_lat = df_ref.iloc[0,1]

In [3]:
# PARAMETERS

output = 'GPS_raw_fake_BC.dat'

# Boundary longitude, latitude
lon_min=-122.6
lon_max=-121.6
lat_min=37.2
lat_max=38.1

# Data sampling step on the boundary
step = 0.05  #in degree

In [4]:
lon_range=np.arange(lon_min,lon_max+step,step)
lat_range=np.arange(lat_min+step,lat_max-step,step)
lat_range

array([37.25, 37.3 , 37.35, 37.4 , 37.45, 37.5 , 37.55, 37.6 , 37.65,
       37.7 , 37.75, 37.8 , 37.85, 37.9 , 37.95, 38.  , 38.05])

In [12]:
lon_range=np.arange(lon_min,lon_max+step,step)
lat_max_for_lon_range=np.array(lat_max*np.ones(len(lon_range)))
lat_min_for_lon_range=np.array(lat_min*np.ones(len(lon_range)))


lat_range=np.arange(lat_min+step,lat_max-step,step)
lon_max_for_lat_range=np.array(lon_max*np.ones(len(lat_range)))
lon_min_for_lat_range=np.array(lon_min*np.ones(len(lat_range)))

In [13]:
lon_fi=np.concatenate((lon_range, lon_max_for_lat_range, lon_min_for_lat_range,lon_range))
lat_fi=np.concatenate((lat_min_for_lon_range, lat_range, lat_range, lat_max_for_lon_range))
#Merge all np arrays

lon_fi=lon_fi.tolist()
lat_fi=lat_fi.tolist()


coor_dict = {'lon' : lon_fi, 'lat' : lat_fi}

df=pd.DataFrame.from_dict(coor_dict)

In [14]:
df=df.round(3)
df=df.sort_values(by=['lat', 'lon'])

In [15]:
df_ref = pd.DataFrame({'lon': [ref_lon], 'lat' : [ref_lat]})
#make a new df for the reference point

df_fi = pd.concat([df_ref, df], ignore_index = True, axis = 0)

In [16]:
df_fi['vx fake']=np.ones(len(df_fi))*-17
df_fi['vy fake']=np.ones(len(df_fi))*15
df_fi['sx fake']=np.ones(len(df_fi))*0.111
df_fi['sy fake']=np.ones(len(df_fi))*0.111
df_fi['coxy fake']=np.ones(len(df_fi))*0.05

year = np.ones(len(df_fi))*2020
year = year.astype(int)

flag = np.ones(len(df_fi))*1
flag = flag.astype(int)

df_fi['year']=year
df_fi['flag']=flag

In [17]:
df_fi.to_csv(output, index=False, sep=' ',float_format='%.4f')

In [18]:
df_fi

,lon,lat,vx fake,vy fake,sx fake,sy fake,coxy fake,year,flag
0,-121.869,37.9756,-17.0,15.0,0.111,0.111,0.05,2020,1
1,-122.600,37.2000,-17.0,15.0,0.111,0.111,0.05,2020,1
2,-122.550,37.2000,-17.0,15.0,0.111,0.111,0.05,2020,1
3,-122.500,37.2000,-17.0,15.0,0.111,0.111,0.05,2020,1
4,-122.450,37.2000,-17.0,15.0,0.111,0.111,0.05,2020,1
...,...,...,...,...,...,...,...,...,...
72,-121.800,38.1000,-17.0,15.0,0.111,0.111,0.05,2020,1
73,-121.750,38.1000,-17.0,15.0,0.111,0.111,0.05,2020,1
74,-121.700,38.1000,-17.0,15.0,0.111,0.111,0.05,2020,1
75,-121.650,38.1000,-17.0,15.0,0.111,0.111,0.05,2020,1
76,-121.600,38.1000,-17.0,15.0,0.111,0.111,0.05,2020,1