<img src="GEOS_Logo.png" width="700" />

# Step 1 : <font color=blue>"download_files_07302021.ipynb"</font>
#### July 30, 2021  <font color=red>(not started yet)</font> 
##### Jeonghyeop Kim (jeonghyeop.kim@gmail.com)



> list_full.dat (904 stations) and list_extra.dat (extra 3 stations) \
> total is 907 \
> At some point, a code that downloads (a)a station ID list and (b)a list of their coordinates will be ready \
> And then it will count how many stations, this GPS2FNL algorithm will process and pass this info to the later codes. \
> metadata is needed

### **`GPS data processed by the NGL is available at:`**  [here](http://geodesy.unr.edu)

> On the right side of the website, find <font color=blue>"Downloadable Lists of GPS Data Holdings:</font>" 

> This algorithm uses data from "stations with 24 hour sample rate solutions, final orbits, 2 week latency."

In [23]:
import urllib.request
import numpy as np
import pandas as pd

In [24]:
# (1) Read the station list

url="http://geodesy.unr.edu/NGLStationPages/DataHoldings.txt"


with urllib.request.urlopen(url) as f:
    final_stations = f.read().decode('utf-8')

# (2) Download metadate (discontinuous steps)

# http://geodesy.unr.edu/NGLStationPages/steps.txt

In [19]:
import pandas as pd

url="http://geodesy.unr.edu/NGLStationPages/DataHoldings.txt"
c=pd.read_csv(url, header=None)
c.names = ['Sta', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm', 'Species']

/Users/JeyKim/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """

ValueError: DataFrame constructor not properly called!

In [8]:
c

      Sta  Lat(deg)   Long(deg) Hgt(m)  X(m)           Y(m)         Z(m)          Dtbeg      Dtend      Dtmod      NumSol StaOrigName
0      00NA -12.4666   130.8440  104.851 -4073662.275...
1      01NA -12.4782   130.9820  105.409 -4084823.460...
2      02NA -12.3559   130.8817  117.652 -4078496.438...
3      0ARK  58.4833    16.9627   37.587  3196907.433...
4      0BIS  57.7251    11.8919  131.470  3340791.252...
...                                                  ...
19274  ZWO2  52.5028     6.0934   65.610  3868781.067...
19275  ZWOL  52.5024     6.0956   86.657  3868815.290...
19276  ZYRA  52.0548    20.4203  157.400  3683270.480...
19277  ZYWE  49.6882    19.1974  405.901  3904715.378...
19278  ZYWI  49.6867    19.2060  412.779  3904633.025...

[19279 rows x 1 columns]